body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: ghostwhite;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.surface-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.vertical-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-controls button {
    margin: 5px;
}

.horizontal-controls button {
    margin: 5px;
}

/* Container adjustments */
.top-container, .bottom-container, .left-container, .right-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container positioning */
.top-container {
    bottom: 50%;
    transform: translateY(-50%);
    flex-direction: column;
}

.bottom-container {
    top: 50%;
    transform: translateY(50%);
    flex-direction: column-reverse;
}

.left-container {
    right: 50%;
    transform: translateX(-50%);
    flex-direction: row;
}

.right-container {
    left: 50%;
    transform: translateX(50%);
    flex-direction: row-reverse;
}

/* Button containers */
.horizontal-container, .vertical-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.horizontal-container {
    flex-direction: row;
}

.vertical-container {
    flex-direction: column;
}


/* デフォルトスタイル (モバイルサイズ以外) */
.main-container {
    width: 90vw;
    height: 90vh;
}

.cell {
    width: 50px;
    height: 50px;
}

.vertical-controls button {
    width: 100px;
    height: 250px;
}

.horizontal-controls button {
    width: 250px;
    height: 100px;
}

.top-container, .bottom-container, .left-container, .right-container {
    margin: 20px;
    padding: 0;
}

.buttons button {
    width: 60px;
    height: 60px;
}

/* モバイルサイズ (768px以下) のスタイル */
@media screen and (max-width: 768px) {
    .main-container {
        width: 80vw;
        height: auto; /* コンテナの高さを自動調整 */
    }

    .cell {
        width: 45px;
        height: 45px;
    }

    .vertical-controls button {
        width: 60px;
        height: 200px;
    }

    .horizontal-controls button {
        width: 200px;
        height: 60px;
    }

    .top-container, .bottom-container, .left-container, .right-container {
        margin: 25px; /* 余白の調整 */
    }
}

.buttons button {
    width: 50px;
    height: 50px;
}